bottle @ file:///home/conda/feedstock_root/build_artifacts/bottle_1591809651423/work
certifi==2020.12.5
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
pywin32==228
Werkzeug==1.0.1
wincertstore==0.2
